
@{
    ViewData["Title"] = "Página Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    @section Styles {
        <link href="~/css/Site/Style.css" rel="stylesheet" type="text/css" />
    }
}


<h2>Página Principal</h2>
