
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - ProjetoPIT</title>

    <link href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Site/Style.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery-1.11.1.min.js"></script>

    @RenderSection("Styles", false)

</head>
<body>
    <header>
        <h1 class="fL">
            <a href="#" title="">Projeto PIT</a>
        </h1>

        <nav class="fR">
            <ul class="l2">
                <li>
                    <a href="#" title="">Home</a>
                </li>
                <li>
                    <a href="#" title="">Login</a>
                </li>
                <li>
                    <a> </a>
                </li>
            </ul>
        </nav>
    </header>   



    <main>
        @RenderBody()
    </main>



    <footer>
        <div class="centraliza">
            <p>Todos os direitos reservado</p>       
        </div> 
    </footer>

    <script src="~/lib/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="~/lib/jquery/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>