
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - ProjetoPIT</title>

    @RenderSection("Styles", false)

</head>
<body>
    <header>
        <h1 class="fL">
            <a href="#" title="">Projeto PIT</a>
        </h1>

        <nav class="fR">
            <ul class="l2">
                <li>
                    <a href="#" title="">Home</a>
                </li>
            </ul>
        </nav>
    </header>



    <main>
        @RenderBody()
    </main>



    <footer>
        <div class="centraliza">
            <p>Todos os direitos reservado</p>
        </div>
    </footer>

    @RenderSection("Scripts", false)
</body>
</html>